.header {
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  background: $black-opacity;
}

.main-nav {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 40px;
  justify-content: space-between; //Without Lang Item
}
.logo {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: transparent;
  transition: 0.2s;
  outline: none;
  &:hover,
  &:focus {
    opacity: 0.7;
  }

  @media (max-width: 770px) {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 999;
  }
}
.main-nav__link {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  outline: none;

  &::after {
    position: absolute;
    right: 15px;
    bottom: -8px;
    left: 15px;
    display: inline-block;
    height: 3px;
    background: $white;
    border-radius: 3px;
    opacity: 0;
    transition: opacity 0.3s, bottom 0.3s;
    content: "";
  }

  &:hover::after,
  &:focus::after {
    bottom: -3px;
    opacity: 1;
  }

  &--current {
    position: relative;

    &::before {
      position: absolute;
      right: 15px;
      bottom: -3px;
      left: 15px;
      height: 3px;
      background: $white;
      border-radius: 3px;
      content: "";
    }

    &::after {
      display: none;
    }
  }
}

///Menu
.menu-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 999;
  cursor: pointer;

  width: 35px;
  height: 35px;
  display: inline-block;
  background-color: transparent;
  border: none;
  outline: none;

  @media (min-width: 769px) {
    display: none;
  }

  &:focus,
  &:hover {
    opacity: 0.8;
  }
}
.menu-btn__line {
  display: block;
  margin-top: 3px;
  top: 2px;
  transition: background-color 0s linear 0.13s;
}
.menu-btn__line,
.menu-btn__line::before,
.menu-btn__line::after {
  position: absolute;
  width: 35px;
  height: 3px;
  background-color: #fff;
  border-radius: 4px;
}

.menu-btn__line::before,
.menu-btn__line::after {
  display: block;
  content: "";
}

.menu-btn__line::before {
  top: 8px;
  transition: top 0.1s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s,
    transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.menu-btn__line::after {
  top: 16px;
  transition: top 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s,
    transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.menu-btn.close {
  .menu-btn__line {
    background-color: transparent;
    transition-delay: 0.22s;
  }

  .menu-btn__line::before {
    top: 0;
    transition: top 0.1s cubic-bezier(0.33333, 0, 0.66667, 0.33333) 0.15s,
      transform 0.13s cubic-bezier(0.215, 0.61, 0.355, 1) 0.22s;
    transform: translate3d(0, 10px, 0) rotate(45deg);
  }

  .menu-btn__line::after {
    top: 0;
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
      transform 0.13s cubic-bezier(0.215, 0.61, 0.355, 1) 0.22s;
    transform: translate3d(0, 10px, 0) rotate(-45deg);
  }
}

@media (max-width: 768px) {
  .main-nav__list {
    position: fixed;
    top: -100%;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 5% 8%;
    background-color: $black;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s cubic-bezier(1, 1.5, 0, 1);
  }
  .nav-item {
    &:not(:last-child) {
      border-bottom: 2px solid $gray;
    }
  }
  .main-nav__link {
    display: block;
    padding: 25px;
    text-align: center;
    cursor: pointer;

    &:focus::after,
    &:hover::after {
      display: none;
    }

    &--current::before {
      display: none;
    }
  }
  .list-open {
    top: 0;
    z-index: 500;
    visibility: visible;
    opacity: 1;
  }
}

@keyframes mobileMenu {
  0% {
    transform: translateX(100%);
  }
  33% {
    transform: translateX(-50%);
  }
  66% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(0);
  }
}

@media ($tablet) {
  .main-nav__list {
    display: flex;
    margin-left: auto;
  }
  .header {
    position: fixed;
  }
}
