.works {
  &__item {
    width: 100%;
    padding: 20px;
    cursor: pointer;
    transition: 0.2s;

    &:hover .works__active {
      bottom: 0;
      opacity: 1;
      visibility: visible;
    }
  }
  &__tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
  }
  &__tab {
    border: 0;
    background: transparent;
    font-size: 14px;
    color: $white;
    outline: 0;
    padding: 8px 10px;
    cursor: pointer;

    &::after {
      content: "";
      position: absolute;
      width: 0;
      transition: 0.5s;
      right: 10%;
      height: 3px;
      border-radius: 10px;
      background: $white;
      bottom: 0;
    }

    &--active {
      position: relative;

      &::after {
        left: 10%;
        right: auto;
        width: 80%;
      }
    }
  }
  &__image {
    display: block;
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
    background-color: $gray;
    overflow: hidden;
    min-height: 150px;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  &__link {
    position: relative;
    display: block;
    font-size: 0;
    overflow: hidden;
  }
  &__desc {
    min-height: 100px;
    padding: 15px;
    color: #333;
    font-size: 14px;
    text-align: left;
    background: $white;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

    &--1 {
      background-color: #1d2063;
      color: #fff;
    }
    &--2 {
      background-color: #fda4a6;
      color: #fff;
    }
    &--3 {
      background-color: #2d394f;
      color: #fff;
    }

    &--4 {
      background-color: #9c7cab;
      color: #fff;
    }
    &--5 {
      background-color: #f2f4ff;
      color: #000;
    }
    &--6 {
      background-color: #fff3e7;
      color: #000;
    }
    &--7 {
      background-color: #1c2520;
      color: #fff;
    }
    &--8 {
      background-color: #131313;
      color: #fff;
    }
    &--9 {
      background-color: #d8dbe2;
      color: #000;
    }
  }
  &__name {
    font-weight: 500;
    font-size: 17px;
    text-align: center;
    margin-bottom: 5px;
  }
  &__type {
    font-size: 16px;
    font-style: italic;
    margin-bottom: 15px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: -3px;
      left: 45px;
      width: 40px;
      height: 4px;
      background-color: $primary-color;
    }
  }
  &__tags {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  &__tag {
    border-radius: 100px;
    background-color: $primary-color;
    color: #fff;

    padding: 2px 5px;
    margin: 0 5px 5px 0;
  }

  &__active {
    position: absolute;
    right: 0;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(4px);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    opacity: 0;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    visibility: hidden;
  }
  &__active-link {
    text-align: center;
    letter-spacing: 0.1em;
    z-index: 10;
    width: 120px;
    padding: 10px 20px;
    margin-bottom: 10px;
    background: rgba($white, 0.5);

    color: $gray;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 30px;
    box-shadow: 0 0px 20px 0 rgba($black, 0.2);
    transition: 0.2s;

    &:hover {
      // box-shadow: 0 0 5px 2px $primary-color;
      background-color: $primary-color;
      color: $white;
    }
  }
}
@media ($tablet) {
  .works {
    &__item {
      width: calc(100% / 2);
    }
    &__image {
      height: 260px;
    }
    &__tab {
      font-size: 18px;
      padding: 10px 15px;
    }
  }
}
@media ($desktop) {
  .works {
    &__item {
      width: calc(100% / 3);
    }
    &__image {
      height: 180px;
    }
  }
}

.show {
  display: block;
}

.remove {
  display: none;
}
