//fonts
$mont: "Mont", "Helvatica", "Arial", sans-serif;

//colors
$primary-color: #ff6f61;
$white: #ffffff;
$white-opacity: rgba(255, 255, 255, 0.2);
$black: #0f1215;
$black-opacity: #0f1215ac;
$gray: #696969;

//sizes
$mobile-px: 320px;
$desktop-px: 1024px;

//breakpoints
$tablet: "min-width: 768px";
$desktop: "min-width: 1024px";
$mobile: "min-width: 320px";
